cvlib==0.2.5
opencv-python-headless==4.4.0.46
Pillow==8.0.1
https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-1.0.0-cp27-none-linux_x86_64.whl
uvicorn==0.12.2
gunicorn==20.0.4
python-multipart==0.0.5
fastapi==0.63.0
nest-asyncio==1.5.1
jupyterlab==3.0.5
